@media (min-width: 991px) {
    .customer-service .cus-caption .cus-works .works p {
        height: 30px;
        overflow: hidden;
        font-size: 11px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {


    .testimonial .cus-feedback {
        height: 384px;
    }
    .textus p {
        font-size: 12px;
    }
    .index-body .product-img .image-container img {
        height: 189px;
    }
    .professional {
        padding: 17px 0px;
    }
    .banner-footer h4 {
        font-size: 27px;
    }

    .index-body .product-img {
        padding: 19px 5px;
    }
    .searchdes input {
        font-size: 12px !important;
        padding: 22px 8px;
        min-height: 46px;
    }
    .searchdes button .fa-search {
        font-size: 22px;
    }
    .customer-service .cus-caption .cus-works .works .painting h5 {
        padding-left: 9px;
        padding-bottom: 6px;
        font-size: 12px;
        height: 33px;
    }
    .dropdown .selectpicker {
        padding: 14px 0px 14px 0px;
        font-size: 12px !important;
        min-height: 40px;
    }
    .header-top p span a {
        font-size: 13px;
    }
    .header-top p span {
        font-size: 13px;
    }
    .carousel {
        margin-top: -102px;
    }
    .toll-free img {
        width: 19px;
    }

    @-moz-document url-prefix() {
        .carousel-outer {
            height: auto;
        }
    }
    .modal-page .modal-dialog {
        width: auto;
    }
    .cart-table thead {
        display: none;
    }

    .shop-card .cart-table tbody tr th {
        display: block;
        padding: 0;
        width: 100%;
        border-width: 0;
        text-align: center !important;
    }

    .shop-card .cart-table tbody tr {
        display: block;
        clear: both;
        padding: 25px 0;
        border-bottom: 1px solid #dcdcdc;
    }
    .cart-table thead {
        display: none;
    }

    .shop-card .cart-table tbody tr th {
        display: block;
        padding: 0;
        width: 100%;
        border-width: 0;
        text-align: center !important;
    }

    .shop-card .cart-table tbody tr {
        display: block;
        clear: both;
        padding: 25px 0;
        border-bottom: 1px solid #dcdcdc;
    }

    .remove a {
        float: right !important;
        line-height: 22px;
    }

    .shop-card .cart-table .table-footer .left-button button {
        width: 250px;
        margin-bottom: 20px;
        margin: 11px auto;
        display: block;
    }

    .shop-card .cart-table .table-footer .right-button button {
        width: 250px;
        margin-bottom: 20px;
        margin: 11px auto;
        display: block;
        float: none;
    }

    .quantity a {
        width: 115px;
        margin: 16px auto;
    }

    /*dashboard*/
    .dashboard-backgrnd .billing-address {
        height: 232px;
    }

    .dashboard-backgrnd .dashboard-info .dashboard-infocontent {
        height: 219px;
    }

    .dashboard-backgrnd .side-bar {
        margin: 17px 0px;
    }

    .dashboard-backgrnd .side-bar .account-info h6 {
        font-size: 14px;
    }

    .dashboard-backgrnd .side-bar .news-letter h6 {
        font-size: 14px;
    }

    /*dashboard*/
    /*login*/
    .btn-login1 {
        margin-top: 20px;
        float: left !important;
    }

    .log-head h2 {
        text-align: center;
    }

    .forgot-as {
        margin-top: 0px;
    }

    /*login*/
    .carousel-outer .customer-service {
        position: static !important;
        padding: 20px 0px !important;
    }

    .producthetail-header .building-banner .banner-content h5 {
        font-size: 21px;
    }

    .producthetail-header .building-banner .banner-content h3 {
        font-size: 24px;
        padding-bottom: 40px;
    }

    .description-head:before {
        clear: both;
    }

    .more-review {
        margin-left: 34px;
    }

    .review-center {
        margin-left: 0px;
    }

    .rate-star1 i {
        font-size: 10px;
    }

    .product-head1 p span {
        font-size: 13px;
    }

    .avg-rating {
        font-size: 13px;
    }

    .product-head h2 {
        font-size: 19px;
    }

    .theme-btn {
        padding: 10px 20px;
        font-weight: 600;
        font-size: 9px;
    }

    .service-img img {
        width: 100%;
    }

    .product-head1 p {
        font-size: 13px;
    }

    .clr-pa {
        font-size: 13px;
    }

    .navbar-nav {
        width: calc(100% - 180px) !important;
    }
    .navbar-nav li a {
        padding: 10px 3px !important;
        font-size: 9px !important;
    }
    nav .navbar-nav li {
        padding: 10px 0px;
    }
    .toll-free {
        padding: 0px;
    }

    .navbar-header .navbar-brand {
        margin-top: -24px;
    }
    .navbar-header .navbar-brand img {
        width: 165px;
    }

    .professional .professional-left h3 {
        font-size: 22px !important;
    }
    .professional .professional-right span {
        font-size: 12px !important;
    }

    .index-body .product-img .product-detail {
        padding: 16px 6px !important;
    }
    .index-body .product-img .product-detail span img {
        width: 15px;
        height: 15px;
        right: -15px;
        top: 0px;
    }
    .index-body .product-img .product-detail p {
        font-size: 12px !important;
    }
    .index-body .product-img .product-detail span {
        font-size: 12px;
        margin-right: 13px;
    }

    .image-container .image-hover p {
        font-size: 13px !important;
        padding: 11px 9px !important;
    }

    .carousel-outer .customer-service .cus-caption .cus-works .works {
        border-radius: 10px;
    }

    .building-header .products-img .view {
        margin-top: 40px;
    }

    .building-header .building-banner .banner-content h3 {
        font-size: 39px;
    }

    .service-enquiry {
        padding: 0px;
    }

    .shop-card .cart-table .table-footer {
        border-top: none;
    }

    .product-detail .photo2 img {
        width: 135px;
    }

    .product-detail .cus-rating {
        font-size: 10px;
        padding: 10px 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*
         .customer-service .cus-caption .cus-works .works p{
        height:40px;
      
    }
*/
    .customer-service .cus-caption .cus-works .works .painting h5 {
        padding-left: 8px;
        padding-bottom: 8px;
        font-size: 12px;
        height: 39px;
    }
    .index-body .product-img .product-detail {
        padding: 16px 11px;
    }
    .carousel-caption h4:after {
        width: 340px;
        background-size: cover;
    }
    .toll-free img {
        width: 22px;
    }
    .index-body .product-img .product-detail span img {
        width: 20px;
        height: 17px;
        right: -23px;
        top: 0px;
    }

    .index-body .product-img .image-container img {
        height: 206px;
    }
    .header-top p span {
        font-size: 13px;
    }
    .searchdes button .fa-search {
        font-size: 19px;
    }
    .searchdes button {
        top: 13px;
    }
    .dropdown .selectpicker {
        margin: 0px;
    }
    .searchdes input {
        margin: 0px;
    }
    .searchdes {
        width: 348px;
        margin: 0px auto;
    }

    nav .navbar-nav li {
        padding: 0px;
    }
    @-moz-document url-prefix() {
        .carousel {
            margin-top: -137px;
            top: -95px;
        }
        .carousel-outer {
            height: auto;
        }
    }

    .navbar-nav {
        padding: 11px 0px;
        width: calc(100% - 93px) !important;
    }
    .footer-information.footer-menu {
        margin-bottom: 77px;
    }
    .modal-page .modal-dialog {
        width: auto;
    }
    .product-detail .photo2 img {
        width: 108px;
    }

    .product-detail .cus-rating {
        font-size: 10px;
    }

    .cart-table thead {
        display: none;
    }

    .shop-card .cart-table tbody tr th {
        display: block;
        padding: 0;
        width: 100%;
        border-width: 0;
        text-align: center !important;
    }

    .shop-card .cart-table tbody tr {
        display: block;
        clear: both;
        padding: 25px 0;
        border-bottom: 1px solid #dcdcdc;
    }

    .remove a {
        float: right !important;
        line-height: 22px;
    }

    .shop-card .cart-table .table-footer .left-button button {
        width: 250px;
        margin-bottom: 20px;
        margin: 11px auto;
        display: block;
    }

    .shop-card .cart-table .table-footer .right-button button {
        width: 250px;
        margin-bottom: 20px;
        margin: 11px auto;
        display: block;
        float: none;
    }

    .quantity a {
        width: 115px;
        margin: 16px auto;
    }

    .log-border {
        margin-bottom: 50px;
        padding: 40px 100px;
    }

    .dashboard-banner {
        margin-top: -100px;
    }

    .side-bar {
        width: 235px;
        margin: 17px auto !important;
    }

    .dashboard-backgrnd .billing-address {
        height: 230px;
    }

    .dashboard-backgrnd .dashboard-info .dashboard-infocontent {
        height: 230px;
    }

    .dashboard-backgrnd .dashboard-right {
        padding: 20px 30px 100px 30px !important;
    }

    .con-top {
        margin-top: 0px;
    }

    .reg-head h2 {
        text-align: center;
    }

    .log-back {
        visibility: hidden;
    }

    .forgot-as {
        margin-top: 59px;
    }

    .btn-login1 {
        margin-top: 20px;
    }

    .login-banner {
        margin-top: -100px;
    }

    .description-head {
        clear: both;
    }

    .tab-single-image img {
        margin-left: 0px;
    }

    .product-detail .product-inner {
        margin: 0 auto;
        display: block;
        width: 356px;
    }

    .rating > label {
        font-weight: 100;
    }

    .single-tab-control img {
        max-width: 156px;
        height: 115px;
    }

    .service-img img {
        width: 100%;
    }

    .theme-btn {
        margin-top: 53px;
    }

    .product-head h2 {
        font-size: 19px;
    }

    .product-head p {
        font-size: 14px;
    }

    .grade-point table {
        font-size: 13px;
    }

    .input-group-btn:first-child > .btn,
    .input-group-btn:first-child > .btn-group {
        padding: 9px 12px;
    }

    .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .btn-group {
        padding: 9px 12px;
    }

    .product-head h2 {
        margin-top: 7px;
    }

    .product-head2 h3 {
        font-size: 18px;
    }

    .more-review p {
        font-size: 14px;
    }

    .description-head {
        padding-bottom: 30px;
    }

    .product-detail .product-inner {
        padding: 0px 23px;
    }

    .carousel {
        margin-top: -100px;
    }

    .producthetail-header .building-banner {
        margin-top: -100px;
    }

    .carousel-caption {
        bottom: 35%;
    }
    .carousel-caption h3 {
        font-size: 24px !important;
    }
    .carousel-caption h2 {
        font-size: 30px !important;
    }
    .carousel-caption h4 {
        font-size: 21px !important;
    }
    .carousel-caption h4 span {
        font-size: 22px !important;
    }

    .navbar-nav li a {
        padding: 2px 1px !important;
        font-size: 8px !important;
    }

    .navbar-header .navbar-brand {
        margin-top: -24px;
    }
    .navbar-header .navbar-brand img {
        width: 78px;
        height: 58px;
    }

    .carousel-outer .customer-service {
        position: static !important;
        padding: 20px 0px !important;
    }
    .carousel-outer .customer-service .cus-caption .cus-works .works {
        border-radius: 10px;
    }
    .carousel-outer .customer-service .cus-caption .cus-search .inner-search form {
        padding: 35px 0px 40px 0px !important;
    }

    .header-top p {
        text-align: center !important;
    }
    .header-top ul {
        float: none !important;
        text-align: center !important;
    }

    .image-container .image-hover p {
        font-size: 15px !important;
        padding: 11px 9px !important;
    }

    .professional .professional-left h3 {
        font-size: 21px !important;
        float: none !important;
        text-align: center;
    }
    .professional .professional-left img {
        float: none !important;
        margin: 0px auto !important;
        display: block;
    }
    .professional .professional-right {
        border-left: none !important;
        padding: 2px 204px !important;
    }

    .follow-us img {
        height: auto !important;
    }

    .building-header .products-img .view .right-view .view-inner {
        float: none !important;
        padding-top: 40px;
        margin: 0px auto;
        display: block;
        text-align: center;
    }

    .building-header .products-img .view .left-view a.view-more {
        float: none !important;
        display: inline-block;
        margin: 0px auto;
    }

    .left-view {
        text-align: center;
    }

    .building-header .products-img .view {
        margin-top: 40px;
    }

    .building-header .building-banner .banner-content h5 {
        font-size: 21px;
    }

    .building-header .building-banner .banner-content h3 {
        font-size: 24px;
        padding-bottom: 40px;
    }

    .building-header .building-banner {
        margin-top: -100px;
    }

    .log1-back a {
        visibility: hidden;
    }

    .dashboard-backgrnd .billing-address .default-address .right-address {
        padding-left: 32px;
    }

    .dashboard-backgrnd .billing-address .default-address .left-address {
        padding-right: 25px;
    }

    .dashboard-backgrnd .billing-address .default-address .angle-right {
        padding-left: 32px;
    }

    .shop-card .cart-table .table-footer {
        border-top: none;
    }
}


@media (max-width: 767px) {

    .testimonial button.owl-dot {
        display: none;
    }
    .searchdes button .fa-search {
        font-size: 18px;
    }
    .searchdes button {
        top: 15px;
    }
    .searchdes {
        width: 100%;
        margin: 0px auto;
    }
    .owl-carousel .owl-item img {
        width: 100%;
        height: 100%;
    }

    @-moz-document url-prefix() {
        .carousel-outer {
            height: auto;
        }
        .carousel {
            margin-top: -137px;
            top: 0px;
        }
    }
    .main-menu > a > i {
        display: none;
    }
    .toggle-menu {
        display: inline-block;
    }
    .navbar-nav > li ul li .third-level {
        position: relative;
        width: 250px;
        left: -25px;
        right: -25px;
        top: 12px;
        display: none;
        visibility: visible !important;
        border-top: 1px solid #ee721e;
    }
    .navbar-nav > li ul li .third-level li {
        border-bottom: none;
    }
    .navbar-nav > li ul li .third-level li > a,
    .navbar-nav > li > a,
    .navbar-nav > li ul li > a {
        color: #fff;
    }
    .navbar-nav > li ul li:hover .third-level {
        visibility: visible !important;
        display: none;
        top: 12px !important;
    }
    .navbar-nav > li ul li.active:hover .third-level {
        display: block;
    }
    .navbar-nav > li ul li .third-level.active {
        display: block;
    }
    .products-img .short-by #sort_by {
        width: 233px;
    }
    .input-box input {
        height: 39px;
        font-size: 12px;
    }
    .professional-right .btn-bn span {
        height: 40px;
        padding: 0px 10px;
        line-height: 40px;
        font-size: 12px;
    }
    .professional-right button {
        padding: 0px;
    }
    /*.btn-bn span{
    height: 39px;
  }*/
    .building-banner {
        height: 221px;
    }
    .building-header .products-img .short-by form select {
        width: 194px;
    }
    .modal-page .modal-dialog {
        width: auto;
    }
    .product-review .reg-head h2 {
        text-align: center;
    }

    .product-review {
        text-align: center;
    }

    .cart-table thead {
        display: none;
    }

    .shop-card .cart-table tbody tr th {
        display: block;
        padding: 0;
        width: 100%;
        border-width: 0;
        text-align: center !important;
    }

    .shop-card .cart-table tbody tr {
        display: block;
        clear: both;
        padding: 25px 0;
        border-bottom: 1px solid #dcdcdc;
    }

    .remove a {
        float: right !important;
        line-height: 22px;
    }

    .shop-card .cart-table .table-footer .left-button button {
        width: 250px;
        margin-bottom: 20px;
        margin: 11px auto;
        display: block;
    }

    .shop-card .cart-table .table-footer .right-button button {
        width: 250px;
        margin-bottom: 20px;
        margin: 11px auto;
        display: block;
        float: none;
    }

    .quantity a {
        width: 115px;
        margin: 16px auto;
    }

    .reg-head h2 {
        text-align: center;
    }

    .reg-head3 h3 {
        text-align: center;
    }

    .log-border {
        margin-bottom: 50px;
        padding: 40px 92px;
    }

    .dashboard-banner {
        margin-top: -100px;
    }

    .pull-right {
        float: none !important;
        margin: 0px auto;
        display: block;
    }

    .dashboard-backgrnd .billing-address .address-left {
        padding: 15px;
    }

    .address-right .default-address {
        padding: 15px;
    }

    .dashboard-backgrnd .billing-address .default-address .angle-right {
        padding-left: 0px;
    }

    .dashboard-backgrnd .billing-address .default-address .manage-address {
        text-align: center;
    }

    .dashboard-backgrnd .billing-address .default-address .right-address {
        padding-left: 0px;
    }

    .dashboard-banner {
        margin-top: -52px;
    }

    .side-bar {
        width: 235px;
        margin: 17px auto !important;
    }

    .forgot-as {
        margin-top: 59px;
    }

    .btn-login1 {
        margin-top: 20px;
    }

    .login-banner {
        margin-top: -52px;
    }

    footer .footer-inner .footer .footer-information p a {
        padding-left: 0px;
    }

    body {
        overflow-x: hidden;
    }

    .navbar-default {
        position: relative;
    }
    .navbar-default .buy-now img {
        position: absolute;
        top: -34px;
        right: -3px;
        background-image: url(../images/cart3.png);
        background-repeat: no-repeat;
    }
    .navbar-default .buy-now span {
        position: absolute;
        top: -38px;
        right: 26px;
        z-index: 100;
        color: #fff;
        border: 1px solid #e75d04;
        background: #e75d04;
        border-radius: 100%;
        text-align: center;
        padding-top: 3px;
    }

    .producthetail-header .building-banner .banner-content h5 {
        font-size: 20px;
    }

    .producthetail-header .building-banner .banner-content h3 {
        font-size: 25px;
        padding-bottom: 43px;
    }

    .description-head {
        clear: both;
    }

    .product-listbottom {
        padding-bottom: 40px;
    }

    .single-product-tab {
        width: 100%;
    }

    .more-review {
        margin-left: 66px;
    }

    .review-center {
        margin-left: 0px;
    }

    .product-list {
        width: 325px;
        margin: 0px auto;
        padding-top: 20px;
        padding-bottom: 32px;
    }

    .single-tab-control li {
        display: inline-block;
    }

    .product-head2 h3 {
        font-size: 16px;
    }

    .single-thumbnail-wrapper {
        text-align: center;
    }

    .tab-single-image img {
        width: 100%;
        margin-left: 0px;
    }

    .single-cat-main {
        width: 100%;
    }

    .product-detail .product-inner {
        width: 325px;
        margin: 0px auto;
    }

    nav {
        margin-left: 0px;
        margin-right: 0px;
    }

    .building-header .products-img .short-by form select {
        width: 194px;
    }

    .building-header .building-banner .banner-content h3 span {
        font-size: 22px;
    }

    .building-header .building-banner .banner-content h5 {
        font-size: 20px;
    }

    .building-header .building-banner .banner-content h3 {
        font-size: 20px;
        padding-bottom: 0px;
    }

    .building-header .products-img .view .right-view .view-inner {
        float: none !important;
        padding-top: 40px;
        margin: 0px auto;
        display: block;
        text-align: center;
    }

    .building-header .products-img .view .left-view a.view-more {
        float: none !important;
        display: inline-block;
        margin: 0px auto;
    }

    .left-view {
        text-align: center;
    }

    .shop-left-area {
        width: 201px;
        margin: 0px auto;
    }

    .building-header .add-banner {
        width: auto;
        margin: 0px auto;
        display: block;
    }

    footer {
        margin-top: 75px;
    }

    .building-header .products-img h3 {
        text-align: center;
    }

    .building-header .product-img .product-inner {
        max-width: 236px;
        margin: 0px auto;
    }

    .building-header .products-img .short-by {
        float: none;
        text-align: center;
    }

    .right-carousel .arrow p {
        float: none;
        text-align: center;
    }

    .carousel {
        margin-top: -52px;
    }

    .navbar-collapse {
        position: absolute;
        width: 250px;
        background: #e75e00;
        right: 0;
        padding: 0px;
    }

    nav .navbar-nav {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    nav .navbar-nav li {
        padding: 0;
        border-bottom: 1px solid #ee721e;
    }

    nav .navbar-nav li:hover a {
        color: #333 !important;
    }

    .navbar-header .navbar-brand {
        margin-top: -18px;
    }
    .navbar-header .navbar-brand img {
        width: 105px;
    }

    .carousel-caption {
        bottom: 47%;
    }
    .carousel-caption h3 {
        font-size: 14px !important;
    }
    .carousel-caption h2 {
        font-size: 26px !important;
    }

    .carousel-caption h4 {
        font-size: 17px !important;
    }
    .carousel-caption h4:after {
        background: none;
    }
    .carousel-caption h4 span {
        font-size: 15px !important;
    }

    .carousel-outer .customer-service {
        position: static !important;
        padding: 20px 0px !important;
    }
    .carousel-outer .customer-service .cus-caption {
        bottom: 33%;
    }
    .carousel-outer .customer-service .cus-caption .cus-works .works {
        width: 250px;
        margin: 10px auto;
        border-radius: 10px;
    }
    .carousel-outer .customer-service .cus-caption .cus-works .works .painting {
        padding-left: 35px;
        position: relative;
    }
    .carousel-outer .customer-service .cus-caption .cus-works .works .painting img {
        left: -2px;
        top: -3px;
        position: absolute;
    }
    .carousel-outer .customer-service .cus-caption .cus-search .inner-search {
        height: auto;
    }
    .carousel-outer .customer-service .cus-caption .cus-search .inner-search form {
        padding: 16px 0px 5px 0px !important;
    }

    .header-top p {
        text-align: center !important;
    }
    .header-top ul {
        float: none !important;
        text-align: center !important;
    }

    .index-body .product-img {
        padding: 19px 92px !important;
    }
    .index-body .product-img .image-container img {
        width: 100% !important;
        height: auto !important;
    }
    .index-body .product-img .image-hover img {
        width: auto !important;
        height: auto !important;
    }
    .index-body .product-img .image-hover p {
        font-size: 15px !important;
    }
    .index-body .product-img .product-detail p {
        font-size: 13px !important;
    }
    .index-body .product-img .product-detail span {
        font-size: 12px !important;
    }

    footer .footer-inner .footer h4 {
        padding-bottom: 0px !important;
        text-align: center;
        margin-bottom: 0px !important;
    }
    footer .footer-inner .footer h4:after {
        position: static !important;
        display: block !important;
        text-align: center;
        margin: 0 auto;
    }
    footer .footer-inner .footer .address p {
        text-align: center;
    }
    footer .footer-inner .footer .address p:before {
        position: static !important;
        display: block !important;
        text-align: center;
        margin: 3px auto;
    }
    footer .footer-inner .footer .Phone p {
        text-align: center;
    }
    footer .footer-inner .footer .Phone p:before {
        position: static !important;
        display: block !important;
        text-align: center;
        margin: 3px auto;
    }
    footer .footer-inner .footer .mail-us p {
        text-align: center;
    }
    footer .footer-inner .footer .mail-us p:before {
        position: static !important;
        display: block !important;
        text-align: center;
        margin: 3px auto;
    }
    footer .footer-inner .footer .footer-information p {
        text-align: center;
    }
    footer .footer-inner .footer .footer-information p a:before {
        display: none;
    }
    footer .footer-inner .footer .know-us form .button-group {
        height: 25px !important;
    }
    footer .footer-inner .footer .know-us form .button-group button {
        margin-top: 2px !important;
        margin: 0px auto;
        display: block;
    }
    footer .footer-inner .footer .follow-us img {
        height: auto !important;
    }

    .footer-down {
        text-align: center;
    }
    .footer-down .footer-left {
        padding: 7px 0px !important;
    }
    .footer-down .footer-right p {
        float: none !important;
        padding: 7px 0px !important;
    }

    .right-carousel {
        padding: 20px 12px !important;
    }

    .item-inner {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 10px;
    }

    .item-inner img {
        width: auto;
    }

    .owl-nav {
        display: none;
    }

    .professional .professional-left h3 {
        font-size: 17px !important;
        float: none !important;
        text-align: center;
    }
    .professional .professional-left img {
        float: none !important;
        margin: 0px auto !important;
        display: block;
    }
    .professional .professional-right {
        border-left: none !important;
        padding: 1px 124px !important;
    }
    .professional .professional-right p {
        font-size: 13px !important;
    }

    .testimonial .cus-feedback {
        font-size: 14px !important;
    }
    .testimonial .cus-img h6 {
        font-size: 14px !important;
    }

    nav {
        margin-top: 0px;
    }

    .navbar-default .navbar-toggle {
        background: #fff;
        border-radius: 0px;
        border-color: #fff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #333;
    }

    .navbar-brand {
        padding: 20px 3px;
    }

    .navbar-header .navbar-brand img {
        width: 105px;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-formP {
        border: none !important;
    }

    footer .footer-inner .footer .address p {
        padding-left: 0px;
    }
    footer .footer-inner .footer .Phone p {
        padding-left: 0px;
    }
    footer .footer-inner .footer .mail-us p {
        padding-left: 0px;
    }

    .building-header .building-banner {
        margin-top: -52px;
    }

    .producthetail-header .building-banner {
        margin-top: -52px;
    }

    .producthetail-header .building-banner .banner-content h3 {
        padding-bottom: 78px;
        font-size: 25px;
    }

    .producthetail-header .building-banner .banner-content h5 {
        font-size: 20px;
    }

    .cus-container {
        padding: 0px;
    }

    .producthetail-header .building-banner .banner-content h3 span {
        font-size: 20px !important;
    }

    .description-head {
        clear: both;
    }

    .dashboard-backgrnd .billing-address {
        height: auto;
    }

    .dashboard-backgrnd .billing-address .default-address h6 {
        text-align: center;
    }

    .dashboard-backgrnd .dashboard-info .dashboard-infocontent {
        margin-bottom: 20px;
    }

    .shop-card .cart-table .table-footer {
        border-top: none;
    }
    #myTab.nav-tabs > li > a {
        padding: 9px 15px !important;
        font-size: 14px !important;
    }


    .sub-menu {
        width: 100% !important;
        position: static!important;
        transform: translateX(0%) !important;
        background: #ed5f2d !important;
        display: none;
    }
    .sub-menu {
        visibility: visible !important;
    }
    .custom-dropdown-toggle {
        display: block !important;
    }

    nav .navbar-nav li:hover > a .sub-menu {
        color: #333 !important;
    }

    .navbar-nav > li ul li {
        padding: 9px 25px;
    }

    .input-box {
        margin: 0 auto;
    }

    .professional-right {
        text-align: center;
    }

    .cnt-txt {
        text-align: center;
        line-height: 27px;
    }

    .rw-tp {
        padding: 0;
        margin: 0;
    }
}

}

@media (max-width: 530px) {
    .searchdes button {
        top: 19px;
    }
    .searchdes button .fa-search {
        font-size: 13px;
    }


    .searchdes {
        width: 100%;
        margin: 0px auto;
    }

    .owl-carousel .owl-item img {
        width: 100%;
        height: 100%;
    }

    .professional-right .input-box input {
        height: 37px;
    }
    .modal-page .lab-con input {
        height: 47px;
    }
    .modal-page .modal-body {
        padding-top: 0px;
    }

    .reg-head h2 {
        font-size: 15px;
    }

    .log-border {
        margin-bottom: 50px;
        padding: 40px 29px;
    }

    .dashboard-backgrnd .side-bar .account-info h6 {
        padding: 5px 0px 5px 16px;
        font-size: 15px;
    }

    .dashboard-backgrnd .dashboard-info .dashboard-infocontent .news-letter {
        text-align: center;
        padding: 50px 0px;
        font-size: 12px;
    }

    .dashboard-backgrnd .dashboard-info .dashboard-infocontent h6 {
        font-size: 15px;
    }

    .dashboard-backgrnd .billing-address {
        height: auto;
    }

    .dashboard-backgrnd .billing-address .default-address .left-address {
        padding-right: 0px;
    }

    .dashboard-backgrnd .billing-address .address-left {
        padding-right: 15px;
    }

    .dashboard-backgrnd .billing-address .default-address .right-address {
        padding: 0px;
    }

    .dashboard-backgrnd .billing-address .address-right {
        padding-left: 15px;
    }

    .dashboard-backgrnd .billing-address .default-address h6 {
        font-size: 16px;
        text-align: center;
    }

    .side-bar {
        width: 200px;
        margin: 17px auto !important;
    }

    .btn-login {
        padding: 10px 22px;
        font-size: 13px;
    }

    .login-banner {
        margin-top: 0px;
    }

    #myTab li a {
        font-size: 6px;
        padding: 8px;
    }

    .building-header .building-banner {
        margin-top: 0px;
    }

    .building-header .product-img .product-inner .add-card .detail a {
        width: auto;
    }

    .building-header .product-img .product-inner .add-card .card a {
        width: auto;
    }

    .carousel-outer .customer-service .cus-caption .cus-works .works {
        width: 241px;
    }

    .carousel-outer .customer-service .cus-caption .cus-works .works .painting img {
        left: -2px;
        top: -8px;
    }

    .building-header .building-banner .banner-content h3 {
        font-size: 19px;
        padding-bottom: 0px;
    }

    .building-header .building-banner .banner-content h5 {
        font-size: 14px;
    }

    .building-header .building-banner .banner-content h3 span {
        font-size: 11px;
    }

    .producthetail-header .building-banner .banner-content h5 {
        font-size: 14px;
    }

    .producthetail-header .building-banner .banner-content h3 span {
        font-size: 11px;
    }

    .producthetail-header .building-banner .banner-content h3 {
        font-size: 15px;
        padding-bottom: 109px;
    }

    footer {
        margin-top: 75px;
    }
    footer .social-icon {
        left: 0px;
    }

    .cus-container {
        padding: 0px !important;
    }

    .navbar-collapse {
        width: 194px;
    }

    nav .navbar-nav li a {
        color: #fff !important;
        font-size: 10px;
    }

    .testimonial .cus-feedback {
        font-size: 13px !important;
    }
    .testimonial .cus-img h6 {
        font-size: 16px !important;
    }

    .banner-footer h4 {
        font-size: 18px !important;
        padding: 13px 0px !important;
    }
    .banner-footer h4:before {
        top: 18px !important;
    }
    .banner-footer p {
        font-size: 10px !important;
        padding: 7px 0px 19px !important;
    }

    .index-body .product-img {
        padding: 19px 20px !important;
    }
    .index-body .product-img .image-container img {
        width: 100% !important;
        height: auto !important;
    }
    .index-body .product-img .image-hover img {
        width: auto !important;
        height: auto !important;
    }
    .index-body .product-img .image-hover p {
        font-size: 12px !important;
    }
    .index-body .product-img .product-detail p {
        font-size: 12px !important;
    }
    .index-body .product-img .product-detail span {
        font-size: 11px !important;
    }

    .right-carousel {
        padding: 40px 12px !important;
    }

    .item-inner {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 10px;
    }

    .owl-nav {
        display: none;
    }

    .professional .professional-left h3 {
        float: none !important;
        text-align: center;
        font-size: 14px !important;
        padding-right: 0px !important;
    }
    .professional .professional-left img {
        float: none !important;
        margin: 0px auto !important;
        display: block;
        width: 100%;
    }
    .professional .professional-right {
        border-left: none !important;
        padding: 0px !important;
    }
    .professional .professional-right p {
        font-size: 13px !important;
    }

    .searchdes {
        width: 100%;
        margin: 0px auto;
    }

    .carousel-caption {
        bottom: 52%;
    }
    .carousel-caption h3 {
        font-size: 10px !important;
    }
    .carousel-caption h2 {
        font-size: 17px !important;
        margin-top: 1px;
    }
    .carousel-caption h4 {
        font-size: 9px !important;
    }
    .carousel-caption h4:after {
        background: none;
    }
    .carousel-caption h4 span {
        font-size: 8px !important;
    }

    .header-top p {
        text-align: center !important;
    }
    .header-top p img {
        width: 19px;
    }
    .header-top p span {
        font-size: 12px;
    }

    .header-top ul {
        padding: 0px;
    }
    .header-top ul li a {
        font-size: 11px;
    }

    .carousel {
        margin-top: 0px;
    }

    .single-tab-control img {
        max-width: 85px;
        height: 97px;
    }

    .single-thumbnail-wrapper .single-product-tab ul {
        padding: 0px;
    }

    .edit-account .reg-head3 h3 {
        font-size: 13px;
    }

    .stock-product {
        width: auto;
    }

    .clear-cart {
        padding: 0px !important;
    }

    .shop-card .cart-table .table-footer {
        border-top: none;
    }

    .sidebar_prod {
        float: none;
        margin: 0px auto;
        width: auto;
    }

    .products-img {
        float: none;
        width: auto;
        padding-left: 0px;
    }
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media (min-width: 1199px) and (max-width: 1328px) {


    .index-body .product-img .image-container .image-hover p {
        font-size: 15px;
    }

    nav .navbar-nav {
        width: calc(100% - 237px) !important;
    }

    nav .navbar-nav li a {
        font-size: 11px !important;
        padding: 10px;
    }

    .carousel {
        margin-top: -124px;
    }

    .review-center {
        margin-left: 58px;
    }
}



@media (min-width: 990px) and (max-width: 1055px) {
    .building-header .product-img .product-inner .product-detail .rate {
        font-size: 14px;
    }
    .building-header .product-img .product-inner .product-detail .rate span {
        font-size: 14px;
    }
    .product-detail {
        padding: 7px 10px 7px 5px;
    }
    .building-header .product-img .product-inner .add-card .detail a {
        width: 114px;
    }
}

@media (min-width: 1199px) and (max-width: 1321px) {
    .product-detail span {
        font-size: 12px;
    }

    .index-body .product-img .product-detail p {
        font-size: 12px;
    }
}

@media (min-width: 767px) and (max-width: 800px) {
    .building-header .product-img .product-inner .product-detail .rate {
        font-size: 14px;
    }
    .building-header .product-img .product-inner .product-detail .rate span {
        font-size: 14px;
    }
    .product-detail {
        padding: 7px 10px 7px 5px;
    }
    .building-header .product-img .product-inner .add-card .detail a {
        width: 114px;
    }

    @media (max-width: 767px) {

        .products-img {
            width: 100%;
            float: none;
            padding-left: 0;
        }
        .sidebar_prod {
            width: 100%;
            margin-bottom: 50px;
        }
        .products-img .short-by #sort_by {
            width: 320px;
        }

    }

    @media (min-width: 768px) and (max-width: 991px) {

        .owl-carousel .owl-item img {
            width: 100%;
            height: 100%;
        }
        .footer-information.footer-menu {
            margin-bottom: 77px;
        }
        .customer-service .cus-caption .cus-works .works .painting img {
            left: 19px;
            top: 14px;
            width: 30px;
        }
        .customer-service .cus-caption .cus-works .works .painting h5 {
            padding-left: 5px;
            font-size: 12px;
            height: 37px;
            max-height: 30px;
            max-width: 25px;
        }
        .customer-service .cus-caption .cus-works .works .painting {
            padding-left: 32px;
        }
        .modal-page .modal-dialog {
            width: auto;
        }
        .product-detail .photo2 img {
            width: 108px;
        }

        .product-detail .cus-rating {
            font-size: 10px;
        }

        .cart-table thead {
            display: none;
        }

        .shop-card .cart-table tbody tr th {
            display: block;
            padding: 0;
            width: 100%;
            border-width: 0;
            text-align: center !important;
        }

        .shop-card .cart-table tbody tr {
            display: block;
            clear: both;
            padding: 25px 0;
            border-bottom: 1px solid #dcdcdc;
        }

        .remove a {
            float: right !important;
            line-height: 22px;
        }

        .shop-card .cart-table .table-footer .left-button button {
            width: 250px;
            margin-bottom: 20px;
            margin: 11px auto;
            display: block;
        }

        .shop-card .cart-table .table-footer .right-button button {
            width: 250px;
            margin-bottom: 20px;
            margin: 11px auto;
            display: block;
            float: none;
        }

        .quantity a {
            width: 115px;
            margin: 16px auto;
        }

        .log-border {
            margin-bottom: 50px;
            padding: 40px 100px;
        }

        .dashboard-banner {
            margin-top: -100px;
        }

        .side-bar {
            width: 235px;
            margin: 17px auto !important;
        }

        .dashboard-backgrnd .billing-address {
            height: 230px;
        }

        .dashboard-backgrnd .dashboard-info .dashboard-infocontent {
            height: 230px;
        }

        .dashboard-backgrnd .dashboard-right {
            padding: 20px 30px 100px 30px !important;
        }

        .con-top {
            margin-top: 0px;
        }

        .reg-head h2 {
            text-align: center;
        }

        .log-back {
            visibility: hidden;
        }

        .forgot-as {
            margin-top: 59px;
        }

        .btn-login1 {
            margin-top: 20px;
        }

        .login-banner {
            margin-top: -100px;
        }

        .description-head {
            clear: both;
        }

        .tab-single-image img {
            margin-left: 0px;
        }

        .product-detail .product-inner {
            margin: 0 auto;
            display: block;
            width: 356px;
        }

        .rating > label {
            font-weight: 100;
        }

        .single-tab-control img {
            max-width: 156px;
            height: 115px;
        }

        .service-img img {
            width: 100%;
        }

        .theme-btn {
            margin-top: 53px;
        }

        .product-head h2 {
            font-size: 19px;
        }

        .product-head p {
            font-size: 14px;
        }

        .grade-point table {
            font-size: 13px;
        }

        .input-group-btn:first-child > .btn,
        .input-group-btn:first-child > .btn-group {
            padding: 9px 12px;
        }

        .input-group-btn:last-child > .btn,
        .input-group-btn:last-child > .btn-group {
            padding: 9px 12px;
        }

        .product-head h2 {
            margin-top: 7px;
        }

        .product-head2 h3 {
            font-size: 18px;
        }

        .more-review p {
            font-size: 14px;
        }

        .description-head {
            padding-bottom: 30px;
        }

        .product-detail .product-inner {
            padding: 0px 23px;
        }

        /*
        .carousel {
            margin-top: -100px;
        }

        .producthetail-header .building-banner {
            margin-top: -100px;
        }

        .carousel-caption {
            bottom: 35%;
        }
        .carousel-caption h3 {
            font-size: 24px !important;
        }
        .carousel-caption h2 {
            font-size: 38px !important;
        }
*/
        /*
        .carousel-caption h4 {
            font-size: 21px !important;
        }
*/
        /*
        .carousel-caption h4 span {
            font-size: 27px !important;
        }
*/
        .carousel-outer .customer-service {
            position: static !important;
            padding: 20px 0px !important;
        }
        .carousel-outer .customer-service .cus-caption .cus-works .works {
            border-radius: 10px;
        }
        .carousel-outer .customer-service .cus-caption .cus-search .inner-search form {
            padding: 35px 0px 40px 0px !important;
        }

        .header-top p {
            text-align: center !important;
        }
        .header-top ul {
            float: none !important;
            text-align: center !important;
        }

        .image-container .image-hover p {
            font-size: 15px !important;
            padding: 11px 9px !important;
        }

        .professional .professional-left h3 {
            font-size: 21px !important;
            float: none !important;
            text-align: center;
        }
        .professional .professional-left img {
            float: none !important;
            margin: 0px auto !important;
            display: block;
            width: 100%;
        }
        .professional .professional-right {
            border-left: none !important;
            padding: 2px 204px !important;
        }

        .follow-us img {
            height: auto !important;
        }

        .building-header .products-img .view .right-view .view-inner {
            float: none !important;
            padding-top: 40px;
            margin: 0px auto;
            display: block;
            text-align: center;
        }

        .building-header .products-img .view .left-view a.view-more {
            float: none !important;
            display: inline-block;
            margin: 0px auto;
        }

        .left-view {
            text-align: center;
        }

        .building-header .products-img .view {
            margin-top: 40px;
        }

        .building-header .building-banner .banner-content h5 {
            font-size: 21px;
        }

        .building-header .building-banner .banner-content h3 {
            font-size: 24px;
            padding-bottom: 40px;
        }

        .building-header .building-banner {
            margin-top: -100px;
        }

        .log1-back a {
            visibility: hidden;
        }

        .dashboard-backgrnd .billing-address .default-address .right-address {
            padding-left: 32px;
        }

        .dashboard-backgrnd .billing-address .default-address .left-address {
            padding-right: 25px;
        }

        .dashboard-backgrnd .billing-address .default-address .angle-right {
            padding-left: 32px;
        }

        .shop-card .cart-table .table-footer {
            border-top: none;
        }

    }

    @media (max-width: 767px) {

        .owl-carousel .owl-item img {
            width: 100%;
            height: 100%;
        }
        a.add-btn {
            margin-bottom: 10px;
        }

        .input-box input {
            height: 38px !important;
        }

        .professional-right .btn-bn span {
            height: 38px;
            padding: 0px !important;
        }

        .building-header .building-banner .banner-content h3 {
            font-size: 25px;
            padding-bottom: 78px;
        }

        .building-header .products-img .view .right-view .view-inner {
            float: none !important;
            padding-top: 40px;
            margin: 0px auto;
            display: block;
            text-align: center;
        }

        .building-header .products-img .view .left-view a.view-more {
            float: none !important;
            display: inline-block;
            margin: 0px auto;
        }

        .left-view {
            text-align: center;
        }

        .shop-left-area {
            width: 320px;
            margin: 0px auto;
        }

        .building-header .add-banner {
            width: 320px;
            margin: 0px auto;
            display: block;
        }

        footer {
            margin-top: 75px;
        }

        .building-header .products-img h3 {
            text-align: center;
            margin-top: 50px;
        }

        .building-header .product-img .product-inner {
            max-width: 320px;
            margin: 0px auto;
        }

        .building-header .products-img .short-by {
            float: none;
            text-align: center;
        }

        .right-carousel .arrow p {
            float: none;
            text-align: center;
        }

        .carousel {
            margin-top: -52px;
        }

        .navbar-collapse {
            position: absolute;
            width: 250px;
            background: #e75e00;
            right: 0;
            padding: 0px;
        }

        nav .navbar-nav {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
        nav .navbar-nav li {
            border-bottom: 1px solid #ee721e;
        }
        nav .navbar-nav li:hover a {
            color: #333 !important;
        }

        .navbar-header .navbar-brand {
            margin-top: -18px;
        }
        .navbar-header .navbar-brand img {
            width: 105px;
        }

        .carousel-caption {
            bottom: 35%;
        }
        .carousel-caption h3 {
            font-size: 14px !important;
        }
        .carousel-caption h2 {
            font-size: 32px !important;
        }
        .carousel-caption h4 {
            font-size: 17px !important;
        }
        .carousel-caption h4:after {
            background: none;
        }
        .carousel-caption h4 span {
            font-size: 15px !important;
        }

        .carousel-outer .customer-service {
            position: static !important;
            padding: 20px 0px !important;
        }
        .carousel-outer .customer-service .cus-caption {
            bottom: 33%;
        }
        .carousel-outer .customer-service .cus-caption .cus-works .works {
            width: 174px;
            margin: 10px auto;
            border-radius: 10px;
        }
        .carousel-outer .customer-service .cus-caption .cus-works .works .painting {
            padding-left: 35px;
            position: relative;
        }
        .carousel-outer .customer-service .cus-caption .cus-works .works .painting img {
            left: -2px;
            top: -3px;
            position: absolute;
        }
        .carousel-outer .customer-service .cus-caption .cus-search .inner-search {
            height: auto;
        }
        .carousel-outer .customer-service .cus-caption .cus-search .inner-search form {
            padding: 16px 0px 5px 0px !important;
        }

        .header-top p {
            text-align: center !important;
        }
        .header-top ul {
            float: none !important;
            text-align: center !important;
        }

        .index-body .product-img {
            padding: 19px 92px !important;
        }
        .index-body .product-img .image-container img {
            width: 100% !important;
            height: auto !important;
        }
        .index-body .product-img .image-hover img {
            width: auto !important;
            height: auto !important;
        }
        .index-body .product-img .image-hover p {
            font-size: 15px !important;
        }
        .index-body .product-img .product-detail p {
            font-size: 13px !important;
        }
        .index-body .product-img .product-detail span {
            font-size: 12px !important;
        }

        footer .footer-inner .footer h4 {
            padding-bottom: 0px !important;
            text-align: center;
            margin-bottom: 0px !important;
        }
        footer .footer-inner .footer h4:after {
            position: static !important;
            display: block !important;
            text-align: center;
            margin: 0 auto;
        }
        footer .footer-inner .footer .address p {
            text-align: center;
        }
        footer .footer-inner .footer .address p:before {
            position: static !important;
            display: block !important;
            text-align: center;
            margin: 3px auto;
        }
        footer .footer-inner .footer .Phone p {
            text-align: center;
        }
        footer .footer-inner .footer .Phone p:before {
            position: static !important;
            display: block !important;
            text-align: center;
            margin: 3px auto;
        }
        footer .footer-inner .footer .mail-us p {
            text-align: center;
        }
        footer .footer-inner .footer .mail-us p:before {
            position: static !important;
            display: block !important;
            text-align: center;
            margin: 3px auto;
        }
        footer .footer-inner .footer .footer-information p {
            text-align: center;
        }
        footer .footer-inner .footer .footer-information p a:before {
            display: none;
        }
        footer .footer-inner .footer .know-us form .button-group {
            height: 25px !important;
        }
        footer .footer-inner .footer .know-us form .button-group button {
            margin-top: 2px !important;
            margin: 0px auto;
            display: block;
        }
        footer .footer-inner .footer .follow-us img {
            height: auto !important;
        }

        .footer-down {
            text-align: center;
        }
        .footer-down .footer-left {
            padding: 7px 0px !important;
        }
        .footer-down .footer-right p {
            float: none !important;
            padding: 7px 0px !important;
        }

        .right-carousel {
            padding: 20px 12px !important;
        }

        .item-inner {
            width: 100%;
            margin: 0px auto;
            margin-bottom: 10px;
        }

        .owl-nav {
            display: none;
        }

        .professional .professional-left h3 {
            font-size: 17px !important;
            float: none !important;
            text-align: center;
        }
        .professional .professional-left img {
            float: none !important;
            margin: 0px auto !important;
            display: block;
            width: 100%;
        }
        .professional .professional-right {
            border-left: none !important;
            padding: 1px 124px !important;
        }
        .professional .professional-right p {
            font-size: 13px !important;
        }

        .testimonial .cus-feedback {
            font-size: 14px !important;
            height: 183px;
        }
        .testimonial .cus-img h6 {
            font-size: 14px !important;
        }

        nav {
            margin-top: 0px;
        }

        .navbar-default .navbar-toggle {
            background: #fff;
            border-radius: 0px;
            border-color: #fff;
        }
        .navbar-default .navbar-toggle .icon-bar {
            background-color: #333;
        }

        .navbar-brand {
            padding: 20px 3px;
        }

        .navbar-header .navbar-brand img {
            width: 105px;
        }

        .navbar-default .navbar-collapse,
        .navbar-default .navbar-formP {
            border: none !important;
        }

        footer .footer-inner .footer .address p {
            padding-left: 0px;
        }
        footer .footer-inner .footer .Phone p {
            padding-left: 0px;
        }
        footer .footer-inner .footer .mail-us p {
            padding-left: 0px;
        }

        .building-header .building-banner {
            margin-top: -52px;
        }

        .producthetail-header .building-banner {
            margin-top: -52px;
        }

        .producthetail-header .building-banner .banner-content h3 {
            padding-bottom: 78px;
            font-size: 25px;
        }

        .producthetail-header .building-banner .banner-content h5 {
            font-size: 20px;
        }

        .cus-container {
            padding: 0px;
        }

        .producthetail-header .building-banner .banner-content h3 span {
            font-size: 20px !important;
        }

        .description-head {
            clear: both;
        }

        .dashboard-backgrnd .billing-address {
            height: auto;
        }

        .dashboard-backgrnd .billing-address .default-address h6 {
            text-align: center;
        }

        .dashboard-backgrnd .dashboard-info .dashboard-infocontent {
            margin-bottom: 20px;
        }

        .shop-card .cart-table .table-footer {
            border-top: none;
        }
        #myTab.nav-tabs > li > a {
            padding: 9px 15px !important;
            font-size: 14px !important;
        }


        .sub-menu {
            width: 100% !important;
            position: static!important;
            transform: translateX(0%) !important;
            background: #ed5f2d !important;
            display: none;
        }
        .sub-menu {
            visibility: visible !important;
        }
        .custom-dropdown-toggle {
            display: block !important;
        }

        nav .navbar-nav li:hover > a .sub-menu {
            color: #333 !important;
        }

        .navbar-nav > li ul li {
            padding: 9px 25px;
        }

        .input-box {
            margin: 0 auto;
        }

        .professional-right {
            text-align: center;
        }

        .cnt-txt {
            text-align: center;
            line-height: 27px;
        }

        .rw-tp {
            padding: 0;
            margin: 0;
        }
    }

}

@media (max-width: 530px) {
    .owl-item .cus-img img {
        width: 75%;
        height: 75%;
    }
    .owl-carousel .owl-item img {
        width: 80%;
    }
    .index-body .latest-product h3 {
        font-size: 19px;
    }
    #myTab.nav-tabs > li > a {
        padding: 9px 7px !important;
        font-size: 13px !important;
        margin-left: 0px;
    }
    .review-as select {
        margin: 0px auto;
    }

    .review-as label {
        font-size: 12px;
    }

    .product-review .review-as {
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .dashboard-backgrnd .side-bar .account-info a h6 {
        font-size: 15px;
    }

    .dashboard-backgrnd .side-bar .news-letter a h6 {
        font-size: 15px;
    }

    .navbar-default .buy-now img {
        top: -15px;
        right: -11px;
    }

    .navbar-default .buy-now span {
        top: -22px;
        right: 10px;
    }

    .log-border {
        margin-bottom: 50px;
        padding: 40px 29px;
    }

    .dashboard-backgrnd .side-bar .account-info h6 {
        padding: 5px 0px 5px 16px;
        font-size: 15px;
    }

    .dashboard-backgrnd .dashboard-info .dashboard-infocontent {
        margin-bottom: 20px;
        height: auto;
    }

    .dashboard-backgrnd .dashboard-info .dashboard-infocontent .news-letter {
        text-align: center;
        padding: 50px 0px;
        font-size: 12px;
    }

    .dashboard-backgrnd .dashboard-info .dashboard-infocontent h6 {
        font-size: 15px;
    }

    .dashboard-backgrnd .billing-address {
        height: auto;
    }

    .dashboard-backgrnd .billing-address .default-address .left-address {
        padding-right: 0px;
    }

    .dashboard-backgrnd .billing-address .address-left {
        padding-right: 15px;
    }

    .dashboard-backgrnd .billing-address .default-address .right-address {
        padding: 0px;
    }

    .dashboard-backgrnd .billing-address .address-right {
        padding-left: 15px;
    }

    .dashboard-backgrnd .billing-address .default-address h6 {
        font-size: 16px;
        text-align: center;
    }

    .side-bar {
        width: 200px;
        margin: 17px auto !important;
    }

    .btn-login {
        padding: 10px 22px;
        font-size: 13px;
    }

    .login-banner {
        margin-top: 0px;
    }

    #myTab li a {
        font-size: 6px;
        padding: 8px;
    }

    .building-header .building-banner {
        margin-top: 0px;
        min-height: 230px;
    }

    .building-header .product-img .product-inner .add-card .detail a {
        width: auto;
    }

    .building-header .product-img .product-inner .add-card .card a {
        width: auto;
    }

    .carousel-outer .customer-service .cus-caption .cus-works .works {
        width: 241px;
    }

    .carousel-outer .customer-service .cus-caption .cus-works .works .painting img {
        left: -2px;
        top: -8px;
    }

    .building-header .building-banner .banner-content h3 {
           font-size: 16px;
    }

    .building-header .building-banner .banner-content {
    transform: translate(-50%, -50%);
    padding: 10px 14px;
        margin-bottom: 72px;
}

    .building-header .building-banner .banner-content h5 {
        font-size: 14px;
    }

    .building-header .building-banner .banner-content h3 span {
        font-size: 11px;
    }

    .producthetail-header .building-banner .banner-content h5 {
        font-size: 14px;
    }

    .producthetail-header .building-banner .banner-content h3 span {
        font-size: 11px;
    }

    .producthetail-header .building-banner .banner-content h3 {
        font-size: 15px;
        padding-bottom: 109px;
    }

    footer {
        margin-top: 75px;
    }

    .cus-container {
        padding: 0px !important;
    }

    .navbar-collapse {
        width: 194px;
    }

    nav .navbar-nav li a {
        color: #fff !important;
        font-size: 10px;
    }

    .testimonial .cus-feedback {
        font-size: 13px !important;
        min-height: 212px;
    }
    .testimonial .cus-img h6 {
        font-size: 16px !important;
    }

    .banner-footer h4 {
        font-size: 18px !important;
        padding: 13px 0px !important;
    }
    .banner-footer h4:before {
        top: 18px !important;
    }
    .banner-footer p {
        font-size: 10px !important;
        padding: 7px 0px 19px !important;
    }

    .index-body .product-img {
        padding: 19px 20px !important;
    }
    .index-body .product-img .image-container img {
        width: 100% !important;
        height: 195px !important;
    }
    .index-body .product-img .image-hover img {
        width: auto !important;
        height: auto !important;
    }
    .index-body .product-img .image-hover p {
        font-size: 12px !important;
    }
    .index-body .product-img .product-detail p {
        font-size: 12px !important;
    }
    .index-body .product-img .product-detail span {
        font-size: 11px !important;
    }

    .right-carousel {
        padding: 40px 12px !important;
    }

    .item-inner {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 10px;
    }

    .owl-nav {
        display: none;
    }

    .professional .professional-left h3 {
        float: none !important;
        text-align: center;
        font-size: 14px !important;
        padding-right: 0px !important;
    }
    .professional .professional-left img {
        float: none !important;
        margin: 0px auto !important;
        display: block;
        width: 100%;
    }
    .professional .professional-right {
        border-left: none !important;
        padding: 0px !important;
    }
    .professional .professional-right p {
        font-size: 13px !important;
    }

    .carousel-caption {
        bottom: 52%;
    }
    .carousel-caption h3 {
        font-size: 10px !important;
    }
    .carousel-caption h2 {
        font-size: 17px !important;
        margin-top: 1px;
    }
    .carousel-caption h4 {
        font-size: 9px !important;
    }
    .carousel-caption h4:after {
        background: none;
    }
    .carousel-caption h4 span {
        font-size: 8px !important;
    }

    .header-top p {
        text-align: center !important;
    }
    .header-top p img {
        width: 19px;
    }
    .header-top p span {
        font-size: 12px;
    }

    .header-top ul {
        padding: 0px;
    }
    /*
    .header-top ul li a {
        font-size: 11px;
    }
*/
    .carousel {
        margin-top: 0px;
    }

    .single-tab-control img {
        max-width: 85px;
        height: 97px;
    }

    .single-thumbnail-wrapper .single-product-tab ul {
        padding: 0px;
    }

    .edit-account .reg-head3 h3 {
        font-size: 13px;
    }

    .stock-product {
        width: auto;
    }

    .clear-cart {
        padding: 0px !important;
    }

    .shop-card .cart-table .table-footer {
        border-top: none;
    }

    .sidebar_prod {
        float: none;
        margin: 0px auto;
        width: auto;
    }

    .products-img {
        float: none;
        width: auto;
        padding-left: 0px;
    }
    .modal-page .modal-dialog {
        width: 243px;
    }
    .modal-page .modal-header button {
        height: 10px;
    }
    .modal-page .modal-title {
        margin-top: 14px;
        font-size: 15px;
    }
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media (min-width: 1199px) and (max-width: 1328px) {
    .index-body .product-img .image-container .image-hover p {
        font-size: 15px;
    }

    nav .navbar-nav {
        width: calc(100% - 252px) !important;
    }

    nav .navbar-nav li a {
        font-size: 11px !important;
        padding: 10px 5px;
    }

    .carousel {
        margin-top: -124px;
    }

    .review-center {
        margin-left: 58px;
    }

}



@media (min-width: 990px) and (max-width: 1055px) {
    .building-header .product-img .product-inner .product-detail .rate {
        font-size: 14px;
    }
    .building-header .product-img .product-inner .product-detail .rate span {
        font-size: 14px;
    }
    .product-detail {
        padding: 7px 10px 7px 5px;
    }
    .building-header .product-img .product-inner .add-card .detail a {
        width: 114px;
    }
}


@media (min-width: 767px) and (max-width: 800px) {
    .building-header .product-img .product-inner .product-detail .rate {
        font-size: 14px;
    }
    .building-header .product-img .product-inner .product-detail .rate span {
        font-size: 14px;
    }
    .product-detail {
        padding: 7px 10px 7px 5px;
    }
    .building-header .product-img .product-inner .add-card .detail a {
        width: 114px;
    }
    /*# sourceMappingURL=query.css.map */
}

@media (min-width: 1134px) and (max-width: 1234px) {
    .customer-service .cus-caption .cus-works .works .painting h5 {
        height: 39px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer-information.footer-menu {
        margin-bottom: 77px;
    }
    .carousel-outer .customer-service .cus-caption .cus-works .works {
        margin: 0 0px 10px 0;
    }
}

/*
    @media screen and (min-width: 1200px) and (max-width: 1217px) {
        nav .navbar-nav li a {
                padding: 10px 9px;

        }
    }
   
*/

@media screen and (max-width: 991px) {

    .payment-head p,
    .paymnt {
        text-align: center;
    }

}

@media screen and (min-width: 1200px) {
    .customer-service .cus-caption .cus-works {
        padding: 0px 5px;
        width: 20%;
    }

}


@media screen and (min-width: 992px) {
    .customer-service .cus-caption .cus-works {
        padding: 0px 5px;
        width: 20%;
    }

}
