.app-documents .form-group .dropdown-toggle {
  height: 46px;
  padding-left: 20px;
  background-color: #fff;
  border-color: #e4eaec;
  border-width: 1px 0 1px 1px;
}

.app-documents .form-group .filter-option {
  float: none !important;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.app-documents .form-group .input-search-btn {
  z-index: 4;
  font-size: 20px;
}

.app-documents .form-group .input-search-btn + .form-control {
  height: 46px;
  padding: 8px 48px 8px 13px;
  border-radius: 0 4px 4px 0;
}

.app-documents .documents-wrap {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}

.app-documents .articles {
  padding: 50px 20px 0;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: .286rem;
}

.app-documents .articles .blocks > li {
  margin-bottom: 50px;
}

.app-documents .articles-item {
  position: relative;
  padding-left: 45px;
}

.app-documents .articles-item > .icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
}

.app-documents .articles-item a {
  color: #76838f;
}

.app-documents .categories {
  margin-top: 25px;
  margin-bottom: 25px;
}

.app-documents .categories .blocks > li {
  margin-bottom: 30px;
}

.app-documents .category {
  height: 100%;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: .286rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.app-documents .category .icon-wrap > .icon {
  font-size: 65px;
}

.app-documents .article::after {
  display: block;
  clear: both;
  content: "";
}

.app-documents .article-sidebar, .app-documents .article-content {
  float: left;
  background-color: #fff;
  border-radius: .286rem;
}

.app-documents .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 86px;
}

.app-documents .article-sidebar {
  width: 260px;
  padding: 20px 15px;
  margin-bottom: 30px;
}

.app-documents .article-sidebar .list-group {
  margin-bottom: 0;
}

.app-documents .article-sidebar .list-group .list-group {
  display: none;
}

.app-documents .article-sidebar .list-group-item {
  padding: 0;
  margin-bottom: 1px;
  border: none;
}

.app-documents .article-sidebar .list-group-item a {
  display: block;
  -ms-flex: 100%;
  flex: 100%;
  padding: 10px 15px;
  overflow: hidden;
  font-weight: 300;
  color: #76838f;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-documents .article-sidebar .list-group-item a:hover, .app-documents .article-sidebar .list-group-item a:focus {
  color: #76838f;
  background-color: #f3f7f9;
}

.app-documents .article-sidebar .list-group-item a + .list-group {
  margin-top: 1px;
}

.app-documents .article-sidebar .list-group-item a.dropdown-toggle:after {
  display: none;
}

.app-documents .article-sidebar .list-group-item .active {
  color: #3e8ef7;
  background-color: #f3f7f9;
}

.app-documents .article-sidebar .list-group-item .active ~ .dropdown-menu {
  position: relative;
  top: 0;
  display: block;
  -ms-flex: 100%;
  flex: 100%;
  float: none;
  padding: 0;
  border: none;
  box-shadow: none;
}

.app-documents .article-sidebar .list-group-item .active ~ .dropdown-menu .dropdown-item {
  width: 100%;
  padding-left: 25px;
  margin: 1px 0;
}

.app-documents .article-sidebar .list-group-item .list-group-item > a {
  padding-left: 25px;
}

.app-documents .article-content {
  width: calc(100% - 290px);
  padding: 20px 30px;
  margin-left: 30px;
}

.app-documents .article-content section {
  margin-bottom: 22px;
}

.app-documents .article-content section h4 {
  margin-top: -80px;
  border-top: 80px solid transparent;
}

.app-documents .article-content section:first-child {
  margin-top: -80px;
}

.app-documents .article-content section:first-child h4 {
  margin-top: 0;
}

.app-documents .article-footer {
  padding: 30px;
  font-size: 24px;
  background-color: #f3f7f9;
  border-radius: .286rem;
}

.app-documents .article-footer::after {
  display: block;
  clear: both;
  content: "";
}

.app-documents .article-footer-actions {
  float: right;
}

@media (max-width: 767px) {
  .app-documents .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 200px;
  }

  .app-documents .article-sidebar, .app-documents .article-content {
    width: 100%;
    margin-left: 0;
  }

  .app-documents .article-sidebar.sticky {
    position: relative;
    top: 0;
  }
}

@media (max-width: 767px) {
  .app-documents .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100px;
  }
}
