.app-notebook .page {
  height: calc(100% - 44px);
}

.app-notebook .page-main, .app-notebook .page-main > form, .app-notebook .page-main .md-editor {
  height: 100%;
}

.app-notebook .page-aside .form-control {
  height: 56px;
  padding: 10px 60px 10px 30px;
  border-color: rgba(0, 0, 0, .06);
  border-width: 0 0 1px;
  border-radius: 0;
}

.app-notebook .page-aside .input-search-btn {
  padding-right: 30px;
  border-radius: 0;
}

.app-notebook .page-aside-inner {
  height: 100%;
}

.app-notebook-list {
  height: calc(100% - 4.003rem);
}

.app-notebook-list .list-group .list-group-item {
  z-index: 0;
  margin-bottom: 0;
  white-space: normal;
  border-bottom: 1px solid #e4eaec;
  border-radius: 0;
}

.app-notebook-list .list-group .list-group-item:hover {
  color: #76838f;
  background-color: #d9e9ff;
}

.app-notebook-list .list-group .list-group-item:last-of-type {
  border-bottom: 0;
}

.app-notebook-list .list-group .list-group-item.active {
  background-color: #d9e9ff;
  border-bottom: 1px solid #e4eaec;
}

.app-notebook-list .list-group .list-group-item .list-group-item-heading {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #37474f;
}

.app-notebook-list .list-group .list-group-item .list-group-item-text {
  display: -webkit-box;
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5em;
  color: #76838f;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.app-notebook-list .list-group .list-group-item::-moz-selection, .app-notebook-list .list-group .list-group-item .list-group-item-heading::-moz-selection, .app-notebook-list .list-group .list-group-item .list-group-item-text::-moz-selection {
  background-color: transparent;
}

.app-notebook-list .list-group .list-group-item::selection, .app-notebook-list .list-group .list-group-item .list-group-item-heading::selection, .app-notebook-list .list-group .list-group-item .list-group-item-text::selection {
  background-color: transparent;
}

.app-notebook-list .list-group .list-group-item .info {
  color: #a3afb7;
}

.app-notebook-list .list-group .list-group-item .info .icon.wb-folder {
  float: left;
}

.app-notebook-list .list-group .list-group-item .info .category {
  float: left;
  font-size: 12px;
}

.app-notebook-list .list-group .list-group-item .info .time {
  float: right;
  font-size: 12px;
}

.app-notebook-list .list-group .list-group-item .info::-moz-selection, .app-notebook-list .list-group .list-group-item .info .category::-moz-selection, .app-notebook-list .list-group .list-group-item .info .time::-moz-selection {
  background-color: transparent;
}

.app-notebook-list .list-group .list-group-item .info::selection, .app-notebook-list .list-group .list-group-item .info .category::selection, .app-notebook-list .list-group .list-group-item .info .time::selection {
  background-color: transparent;
}

.app-notebook .md-editor {
  max-width: 100%;
  overflow: auto;
  border: 0;
  border-radius: 0;
}

.app-notebook .md-editor > .md-header {
  min-width: 540px;
  height: 56px;
  padding: 12px 18px;
  background-color: #fff;
  border-bottom: 1px solid #e4eaec;
  border-radius: 0;
}

.app-notebook .md-editor .md-input {
  min-width: 540px;
  height: calc(100% - 56px);
  padding: 13px 30px;
}

@media (max-width: 479px) {
  .app-notebook .page {
    height: calc(100% - 66px);
  }
}
