#exampleTable1 table {
  min-width: 800px;
  margin-top: -1px;
  margin-bottom: 17px;
}

#exampleTable1 .progress {
  display: inline-block;
  width: 80%;
  margin-bottom: 0;
  vertical-align: middle;
}

#exampleTable1 .progress-percent {
  display: inline-block;
  width: 20%;
  font-size: 14px;
  color: #76838f;
  text-align: right;
  vertical-align: middle;
}

#exampleTable1 td {
  vertical-align: middle;
}

#exampleTable1 thead th {
  border-bottom-width: 0;
}

#exampleTable1 .example {
  margin-top: 0;
  border: 1px solid #e4eaec;
  border-top: none;
}

#exampleTable1 .example-title {
  padding: 15px 20px;
  margin-bottom: 0;
  border: 1px solid #e4eaec;
}

#exampleReport table {
  min-width: 800px;
  margin-bottom: 0;
}

#exampleReport table td {
  vertical-align: middle;
}

#exampleReport .panel-heading {
  border-bottom: 0;
}

#exampleReport .panel-title {
  padding: 15px 20px;
  margin-bottom: 0;
  border: 1px solid #e4eaec;
}

#exampleReport .panel-actions {
  right: 15px;
}

#exampleReport .example {
  margin-top: 0;
  border: 1px solid #e4eaec;
  border-top: none;
}
