.fixed-table-body {
  height: 100%;
  overflow: auto;
}

#daily-feed .name {
  font-weight: 500;
  color: #526069;
  text-decoration: none;
  cursor: pointer;
}

#daily-feed .content {
  margin-top: 10px;
  margin-bottom: 0;
}

#tickets .hightlight {
  font-weight: 500;
  color: #526069;
  text-decoration: none;
  cursor: pointer;
}

#projects .table > tbody > tr > td, #projects .table > thead > tr > th {
  vertical-align: middle;
}

.team-panel .avatar {
  padding: 0;
  margin: 10px;
}

.badges-panle .badge {
  margin-right: 5px;
  margin-bottom: 10px;
}

.input-panel .form-control {
  border: 1px solid #e4eaec;
  border-right: 0;
  border-right: none;
  border-left: 0;
  border-left: none;
  border-radius: 0;
}

.input-panel .input-panle-btn {
  display: inline;
  padding: 10px 15px;
  background-color: transparent;
  border-right: 1px solid #e4eaec;
}

.input-panel .input-panle-btn:hover {
  color: #3e8ef7;
}

.input-panel .input-panle-btn i {
  margin: 12px 0;
}

.input-panel .submit {
  float: right;
  padding: 8px 15px 9px;
  color: #3e8ef7;
  background-color: transparent;
  border: none;
  border-left: 1px solid #e4eaec;
  border-radius: 0;
}

.input-panel .submit:hover {
  color: #79b2fc;
}
