.page-login:before {
  background-image: url("../../images/login.jpg");
}

.page-login form {
  width: 340px;
  margin: 30px 0;
}

.page-login form a {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .page-login form {
    width: auto;
  }
}
