.page-profile-v2 .card .card-block {
  padding-top: 0;
}

.page-profile-v2 .card .card-block > *:last-child {
  margin-bottom: 0;
}

.page-profile-v2 .card .card-block > *:first-child {
  margin-top: 0;
}

.page-profile-v2 .card .card-block:first-child {
  padding-top: 20px;
}

.page-profile-v2 .user-name {
  margin-bottom: 10px;
  color: #263238;
}

.page-profile-v2 .user-job {
  margin-bottom: 5px;
  color: #a3afb7;
}

.page-profile-v2 .user-location {
  margin-bottom: 10px;
  color: #a3afb7;
}

.page-profile-v2 .user-actions {
  margin-bottom: 10px;
}

.page-profile-v2 .user-actions .btn {
  width: 100px;
}

.page-profile-v2 .user-actions .btn, .page-profile-v2 .user-actions .dropdown {
  display: inline-block;
  vertical-align: middle;
}

.page-profile-v2 .user-actions .dropdown {
  margin-left: 10px;
}

.page-profile-v2 .user-stats {
  margin-bottom: 12px;
  overflow: hidden;
  border: 1px solid #e4eaec;
  border-right-color: transparent;
  border-left-color: transparent;
}

.page-profile-v2 .user-stats .user-stat {
  float: left;
  width: 50%;
  padding: 15px;
  border-left: 1px solid #e4eaec;
}

.page-profile-v2 .user-stats .user-stat:first-child {
  border-left-color: transparent;
}

.page-profile-v2 .user-stats .user-stat:hover {
  text-decoration: none;
}

.page-profile-v2 .user-socials {
  margin-bottom: 12px;
}

.page-profile-v2 .user-release-input {
  border: none;
  border-bottom: 1px solid #e4eaec;
  border-radius: 0;
}

.page-profile-v2 .user-release-actions {
  padding: 5px 10px;
}

.page-profile-v2 .user-posts-list {
  padding: 0;
  margin: 0 -10px;
}

.page-profile-v2 .user-post {
  padding: 0 10px;
}

.page-profile-v2 .user-post img {
  width: 100%;
}

.page-profile-v2 .user-post-title {
  margin-bottom: 8px;
  font-size: 16px;
}

.page-profile-v2 .user-post-title:hover {
  color: #3e8ef7;
  cursor: pointer;
}

.page-profile-v2 .user-post-time {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  color: #9e9e9e;
}

.page-profile-v2 .user-post-data .icon {
  margin-right: 5px;
  font-size: 12px;
}

.page-profile-v2 .user-background .timeline-item, .page-profile-v2 .user-background .timeline-single .page-profile-v2 .user-background .timeline-item {
  padding-left: 20px;
  margin-bottom: 12px;
}

.page-profile-v2 .user-background .timeline-dot {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  line-height: 10px;
  background-color: #ccd5db;
}

.page-profile-v2 .user-background .timeline-content > img {
  max-width: 120px;
}

.page-profile-v2 .user-skills .skill {
  margin-bottom: 12px;
  overflow: hidden;
  line-height: 40px;
}

.page-profile-v2 .user-skills .skill-name, .page-profile-v2 .user-skills .skill-num, .page-profile-v2 .user-skills .skill-team {
  float: left;
  margin-right: 10px;
}

.page-profile-v2 .user-skills .skill-team {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

.page-profile-v2 .user-skills .skill-team .avatar {
  width: 40px;
}

.page-profile-v2 .user-skills .skill-num .badge {
  vertical-align: middle;
}

.page-profile-v2 .user-skills .skill:last-child {
  margin-bottom: 0;
}

.page-profile-v2 .user-recomendations .testimonial.carousel {
  margin: 0;
}

.page-profile-v2 .user-recomendations .testimonial.carousel .testimonial-item {
  padding: 0;
}

.page-profile-v2 .user-recomendations .testimonial.carousel .testimonial-content {
  margin-top: 0;
  margin-bottom: 15px;
}

@media (max-width: 992px) {
  .page-profile-v2 .user-recomendations .testimonial.carousel .testimonial-content {
    margin-top: 20px;
  }

  .page-profile-v2 .user-recomendations .testimonial.carousel .testimonial-item > .row > [class^="col-"]:first-child .testimonial-content {
    margin-top: 0;
  }
}

.page-profile-v2 .user-following .card-block img {
  width: 100%;
}

.page-profile-v2 .user-friends .list-group > .list-group-item:first-child, .page-profile-v2 .user-visitors .list-group > .list-group-item:first-child {
  padding-top: 0;
}

.page-profile-v2 .user-friends .list-group > .list-group-item:last-child, .page-profile-v2 .user-visitors .list-group > .list-group-item:last-child {
  padding-bottom: 0;
}
