.page-register:before {
  background-image: url("../../images/login.jpg");
}

.page-register form {
  width: 340px;
  margin: 22px auto;
}

@media (max-width: 479px) {
  .page-register form {
    width: auto;
  }
}
